@font-face {
    font-family: "VT323 Regular";
    src: url("/VT323-Regular.ttf");
}

#menuPanel {
    -fx-background-image:url("background.jpg");
    -fx-background-size: stretch;
}


Label {
    -fx-text-fill: RGB(204, 204, 0);
    -fx-font-family: "VT323 Regular";
}


.check-box {
    -fx-text-fill: RGB(204, 204, 0);
    -fx-font-size: 50px;
    -fx-font-family: "VT323 Regular";
}


.check-box .box {
    -fx-background-color: RGBA(0, 0, 153, 0.5);
    -fx-border-color: RGBA(204, 204, 0,0.5);
    -fx-border-width: 3;
    -fx-border-radius: 5.0px;
    -fx-margin-left: 10px;
}

.check-box .text{
    -fx-effect: dropshadow(gaussian, black, 15.0, 0.5, 0, 0); /* shadow effect */
}

.check-box:selected .mark {
    -fx-background-color: RGB(204, 204, 0);;
}

TextField{
    -fx-font-family: "VT323 Regular";
    -fx-font-size: 40;
    -fx-padding: 1,1,1,1;

    -fx-border-width: 2;

    -fx-border: gone;
    -fx-background-color: RGBA(0, 0, 153,0.5);
    -fx-text-fill: RGB(204, 204, 0);

    -fx-background-radius: 20.0px;
    -fx-border-radius: 20.0px;
    -fx-border-color: RGBA(204, 204, 0,0.5);
}

Button {
    -fx-background-color: RGBA(0, 0, 153,0.5);
    -fx-text-fill: RGB(204, 204, 0);
    -fx-font-size: 50px;
    -fx-font-family: "VT323 Regular";
    -fx-background-radius: 20.0px;
    -fx-border-radius: 20.0px;
    -fx-border-color: RGBA(204, 204, 0,0.5);
    -fx-border-width: 3px;
}

Button:hover{
    -fx-text-fill: RGB(255, 255, 255);
    -fx-border-color: RGBA(255, 255, 255,1);
}

/* Style for TableView */
TableView {
    -fx-background-color: rgba(0, 0, 153, 0.2);
    -fx-border-width: 2;
    -fx-border-color: rgba(204, 204, 0, 0.5);
    -fx-border-radius: 5.0px;
    -fx-background-radius: 5.0px;

}

/* Style for TableView rows */
.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:filled {
    -fx-background-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: rgba(0, 0, 153, 0.4);
}

/* Style for TableView headers */
.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-color: rgba(204, 204, 0, 0.5);
    -fx-border-width: 0 0 2px 0; /* bottom border  */
}

.table-view .column-header .label {
    -fx-text-fill: rgb(204, 204, 0);
    -fx-font-family: "VT323 Regular";
    -fx-font-size: 20px;
}

/* Style for TableColumn cells */
.table-cell {
    -fx-text-fill: rgb(204, 204, 0);
    -fx-font-family: "VT323 Regular";
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(204, 204, 0, 0.3);
}

/* Style for specific column (e.g., third column) */
.table-cell.third-column {
    -fx-padding: 0 0 0 70px;
}

/* Style for vertical scrollbar */
.table-view .scroll-bar:vertical {
    -fx-background-color: rgba(0, 0, 153, 0.5);
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 153, 0.5);
    -fx-border-color: rgba(204, 204, 0, 0.5);
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-border-width: 2;
}

/* Style for viewport */
.table-view .virtual-flow {
    -fx-background-color: rgba(0, 0, 153, 0.5);
}


/* header styling */
.table-view .column-header {
    -fx-background-color: rgba(0, 0, 153, 0.6);

}

/* header text styling */
.table-view .column-header .label {
    -fx-text-fill: rgb(255, 255, 0);
    -fx-font-family: "VT323 Regular";
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.table-view .filler {
    -fx-background-color: rgba(0, 0, 153, 0.6);
}